<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pregunta 1</title>
     <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
 	<link rel="stylesheet" href="/style.css">
</head>
<body>
  
    <div class="container custom-form-container" >
    <form action="/inicio" method="post">
		  <h1 class="mb-4">cual es tu Nombre</h1>
		
		
		<div>
        <input  type="text" name="nombre" value="Cielo" id="id1">  
        <button type="submit" class="btn btn-primary" >Siguiente</button>
		</div>
		
    </form>
    </div>
</body>
</html>
