<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>

<body>
	<div class="container custom-form-container">
	<form action="/pregunta3" method="post">
		<h1>cuales son tu mejore cualidades</h1>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="id1" name="respuesta3" value="independencia"> <label class="form-check-label" for="id1">Te identificas con la necesidad de independencia</label> <br>
		</div>

		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="id2" name="respuesta3" value="lealtad"> <label for="id2">Tiene lealtad hacia tus seres queridos?</label><br>
		</div>
		<div class="form-check form-switch">
			<input  class="form-check-input" type="checkbox" id="id3" name="respuesta3" value="admitad"> <label class="form-check-label" for="id3">te identificas con la amistosidad, la inteligencia y la capacidad para trabajar bien en grupo, el delfín podría
				resonar contigo.</label><br>
		</div>

		<div class="form-check form-switch">
			<input  class="form-check-input" type="checkbox" id="id4" name="respuesta3" value="liderar"> <label class="form-check-label" for="id4">Te identificas con la fuerza y la capacidad de liderar</label><br>
		</div>
		
		<div class="form-check form-switch">
			<input  class="form-check-input" type="checkbox" id="id5" name="respuesta3" value="sabiduria"> <label class="form-check-label" for="id5">eres una persona reflexiva, sabia y te gusta explorar el conocimiento en profundidad</label><br>
		</div>
		<input class="btn btn-primary" value="Siguiente" type="submit">
	</form>
	</div>
</body>

</html>