<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pregunta 1</title>
     <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
 	<link rel="stylesheet" href="/style.css">
</head>
<body>
  
    <div class="container custom-form-container" >
    <form action="/pregunta1" method="post">
		  <h1 class="mb-4">¿Con qué te conectas más: tierra, mar o el cielo?</h1>
		<label class="form-label" >Opciones:</label>
		
		<div class="form-check">
        <input class="form-check-input" type="radio" name="respuesta1" value="Cielo" id="id1">  
        <label class="form-check-label" for="id1"> Cielo</label>
		</div>
		
		<div class="form-check">
        <input class="form-check-input" type="radio" name="respuesta1" id="id2" value="Mar"> 
        <label class="form-check-label" for="id2"> Mar</label>
		</div>
		
		<div class="form-check">
        <input class="form-check-input" type="radio" name="respuesta1" id="id3" value="Tierra"> 
         <label class="form-check-label" for="id3"> Tierra</label>
		</div>
		
		<div class="form-check">
        <input class="form-check-input" type="radio" name="respuesta1" id="id4" value="cueva"> 
          <label class="form-check-label" for="id4"> Cueva</label>
        <button type="submit" class="btn btn-primary" >Siguiente</button>
		</div>
    </form>
    </div>
</body>
</html>
